In [1]:
import pandas as pd
import numpy as np
from functions import conecta_ao_db
import seaborn as sns

In [2]:
db= conecta_ao_db('dados_sokker.db')
curs= db.cursor()

In [3]:
df_atletas= pd.read_sql_query("SELECT * FROM players", db).drop(columns= ['countryID', 
                                                                         'teamID', 'youthTeamID'])


df_time= pd.read_sql_query("SELECT * FROM teams", db)[['date_extracted', 
                                                  'trainingFormation', 'trainingType',
                                                 'fanclubMood']]

df_matches= pd.read_csv('playersStats.csv', parse_dates=True)

In [4]:
# Pegando ids dos atletas e deixando num dataframe para puxar seus nomes depois

In [5]:
ids_atletas= df_atletas[['ID', 'name', 'surname']]
ids_atletas['Nome']= ids_atletas['name'] + ' ' + ids_atletas['surname']
ids_atletas.drop(columns= ['name', 'surname'], inplace= True)
ids_atletas.drop_duplicates(ignore_index= True, inplace= True)

df_atletas.drop(columns= ['name', 'surname'], inplace= True)

<ipython-input-5-33618f4ac0ec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ids_atletas['Nome']= ids_atletas['name'] + ' ' + ids_atletas['surname']
/home/fabiano/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-5-33618f4ac0ec>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ids_atletas.drop_duplicates(ignore_index= True, inplace= True)

In [6]:
ids_atletas= dict(zip(ids_atletas['Nome'].values, ids_atletas['ID'].values))
ids_atletas

{'Krastan Apostolov': 36519432,
 'Romildo Barbadiano': 37968035,
 'Giovani Barriguinha': 37968034,
 'Ilario Bartolozzi': 36103236,
 'Cecilio Bazzarella': 37968028,
 'Josimar Bendler': 37968048,
 'Mustapha Bonnet': 37937282,
 'Rody de Houston': 37464066,
 'Christophe Derungs': 37432229,
 'Fabricio Fontanello': 37442584,
 'Jan Sebastian Gałęzewski': 36952891,
 'Amado Grotto': 37968030,
 'Kristián Hakel': 37262806,
 'Gustav Hamp': 37606570,
 'Hector Honceriu': 37451705,
 'Ferdinando Ionata': 36658134,
 'Devanir Martini': 37968040,
 'Sică Mergiu': 37008614,
 'Nélio Narenti': 37968044,
 'Henrik Oros': 37634685,
 'Renê Santinho': 37968027,
 'Štefan Sauter': 37691056,
 'Serginho Siakam': 37968041,
 'Joel Sopó': 37690980,
 'Artur Szymkiewicz': 37276405,
 'Tazar Trbojević': 37533726,
 'Calixto Vasallo': 37968029,
 'Günther Ketels': 37186745,
 'Gligor-Bogdan Vînătoru': 37463857,
 'Cezar Adrian Bujor': 37527542,
 'Ksawery Maszudziński': 36889552,
 'Dan Thystrup': 37766478,
 'Alim Bent': 36926767,
 'Tymoteusz Berezowski': 36052375}

In [7]:
df_matches['Nome']= df_matches['Nome'].apply(lambda x: x.strip().replace('"', ""))
df_matches['Nome'].unique()

array(['Josimar Bendler', 'Giovani Barriguinha', 'Amado Grotto',
       'Romildo Barbadiano', 'Renê Santinho', 'Ernane Zanella',
       'Serginho Siakam', 'Calixto Vasallo', 'Devanir Martini',
       'Cecilio Bazzarella', 'Nélio Narenti', 'Krastan Apostolov',
       'Tazar Trbojević', 'Hector Honceriu', 'Gustav Hamp',
       'Fabricio Fontanello', 'Jan Sebastian Gałęzewski',
       'Ilario Bartolozzi', 'Kristián Hakel', 'Artur Szymkiewicz',
       'Sică Mergiu', 'Rody de Houston', 'Joel Sopó', 'Štefan Sauter',
       'Mustapha Bonnet', 'Henrik Oros', 'Christophe Derungs',
       'Günther Ketels', 'Ferdinando Ionata', 'Gligor-Bogdan Vînătoru',
       'Ksawery Maszudziński', 'Cezar Adrian Bujor', 'Dan Thystrup',
       'Alim Bent', 'Tymoteusz Berezowski'], dtype=object)

In [8]:
df_matches['ID']= df_matches['Nome'].map(ids_atletas)
df_matches.dropna(subset= ['ID'], inplace= True)
df_matches.drop(columns= ['Nome'], inplace= True)

In [9]:
df_matches['Data']= df_matches['Data'].apply(lambda x: x.strip().replace('"', ""))
df_matches['Posicao']= df_matches['Posicao'].apply(lambda x: x.strip().replace('"', ""))
df_matches['Nota']= pd.to_numeric(df_matches['Nota'])


df_matches.head()

,matchID,Numero,Posicao,Nota,Tempo,Chutes,Faltas,Ofens,Defens,yellowCards,redCards,Goals,Assis,Data,ID
0,38144835,1,GK,33,90,0,0,1,0,0,0,0,0,2021-07-18 21:58,37968048.0
1,38144835,2,DEF,19,90,0,0,6,7,0,0,0,0,2021-07-18 21:58,37968034.0
2,38144835,3,DEF,19,90,0,0,7,1,0,0,0,0,2021-07-18 21:58,37968030.0
3,38144835,4,DEF,26,90,0,0,4,9,0,0,0,0,2021-07-18 21:58,37968035.0
4,38144835,5,DEF,27,90,0,0,8,9,0,0,0,0,2021-07-18 21:58,37968027.0

In [10]:
df_atletas['date_extracted']= pd.to_datetime(df_atletas['date_extracted'])
df_time['date_extracted']= pd.to_datetime(df_time['date_extracted'])
df_matches['Data']= pd.to_datetime(df_matches['Data'])

In [11]:
# Categorizando coluna training type
treinos= {6: 'Des', 8: 'Agil'}
df_time= df_time.replace({'trainingType': treinos})

In [12]:
df_time.head(3)

       date_extracted  trainingFormation trainingType  fanclubMood
0 2021-07-27 14:46:51                  2          Des            6
1 2021-07-31 09:50:48                  1          Des            5
2 2021-08-02 09:55:05                  1          Des            6

### Criando coluna que será nosso "id"

In [13]:
df_atletas['week_number']= df_atletas['date_extracted'].dt.strftime('%U')
df_time['week_number']= df_time['date_extracted'].dt.strftime('%U')
df_matches['week_number']= df_matches['Data'].dt.strftime('%U')

In [14]:
# Primeira semana estava testando a coleta e peguei o mesmo dado duas vezes. Vamos iniciar da semana seguinte à primeira coleta

df_atletas= df_atletas[df_atletas['week_number'] != '30'].drop(columns= ['date_extracted'])
df_time= df_time[df_time['week_number'] != '30'].drop(columns= ['date_extracted'])
df_matches= df_matches[~df_matches['week_number'].isin(['30', '29', '28'])].drop(columns= ['Data'])

In [15]:
df_time.head()

   trainingFormation trainingType  fanclubMood week_number
2                  1          Des            6          31
3                  1          Des            6          32
4                  1          Des            6          33
5                  1          Des            6          34
6                  1          Des            6          35

In [16]:
df_atletas.head()

,ID,age,wage,height,weight,BMI,value,cards,goals,assists,...,skillTeamwork,skillDiscipline,skillPace,skillTechnique,skillPassing,skillKeeper,skillDefending,skillPlaymaking,skillScoring,week_number
51,36519432,30,32200.0,177.0,71.5,22.82,3191000.0,0,0,0,...,3,6,15,3,9,10,5,5,3,31
52,36103236,30,17500.0,169.0,67.3,23.55,1541000.0,2,6,46,...,4,10,13,7,8,0,8,9,8,31
53,37968028,21,4900.0,175.0,77.4,25.26,360000.0,0,0,0,...,5,3,7,1,9,0,5,7,7,31
54,37968048,21,4700.0,166.0,66.9,24.27,281000.0,0,0,0,...,1,0,7,2,7,7,1,1,0,31
55,37937282,19,4800.0,183.0,72.3,21.58,294000.0,0,0,0,...,3,2,10,3,0,0,7,0,7,31

In [17]:
df_matches.head()

,matchID,Numero,Posicao,Nota,Tempo,Chutes,Faltas,Ofens,Defens,yellowCards,redCards,Goals,Assis,ID,week_number
56,38349892,1,GK,56,90,0,0,3,0,0,0,0,0,36519432.0,31
57,38349892,2,DEF,33,90,0,1,5,6,0,0,0,0,37968044.0,31
58,38349892,3,DEF,36,90,0,0,3,9,0,0,0,0,37634685.0,31
59,38349892,4,DEF,37,90,0,0,5,13,0,0,0,0,37442584.0,31
60,38349892,5,DEF,32,90,0,0,13,11,0,0,0,0,37690980.0,31

In [18]:
df= df_matches.merge(df_time, on= 'week_number', validate= 'many_to_one').dropna(axis= 1)
df.head()

,matchID,Numero,Posicao,Nota,Tempo,Chutes,Faltas,Ofens,Defens,yellowCards,redCards,Goals,Assis,ID,week_number,trainingFormation,trainingType,fanclubMood
0,38349892,1,GK,56,90,0,0,3,0,0,0,0,0,36519432.0,31,1,Des,6
1,38349892,2,DEF,33,90,0,1,5,6,0,0,0,0,37968044.0,31,1,Des,6
2,38349892,3,DEF,36,90,0,0,3,9,0,0,0,0,37634685.0,31,1,Des,6
3,38349892,4,DEF,37,90,0,0,5,13,0,0,0,0,37442584.0,31,1,Des,6
4,38349892,5,DEF,32,90,0,0,13,11,0,0,0,0,37690980.0,31,1,Des,6

In [19]:
df= df.merge(df_atletas, on=['ID', 'week_number'])

In [20]:
df.head()

,matchID,Numero,Posicao,Nota,Tempo,Chutes,Faltas,Ofens,Defens,yellowCards,...,skillStamina,skillTeamwork,skillDiscipline,skillPace,skillTechnique,skillPassing,skillKeeper,skillDefending,skillPlaymaking,skillScoring
0,38349892,1,GK,56,90,0,0,3,0,0,...,9,3,6,15,3,9,10,5,5,3
1,38352559,1,GK,54,90,0,0,12,0,0,...,9,3,6,15,3,9,10,5,5,3
2,38353921,1,GK,54,90,0,0,13,0,0,...,9,3,6,15,3,9,10,5,5,3
3,38354731,1,GK,55,90,0,0,9,0,0,...,9,3,6,15,3,9,10,5,5,3
4,38354733,1,GK,55,90,0,0,9,0,0,...,9,3,6,15,3,9,10,5,5,3

In [21]:
skills_cols= [col for col in df.columns if col.startswith('skill')]
del skills_cols[:5]
skills_cols.append('skillStamina')
skills_cols

['skillPace',
 'skillTechnique',
 'skillPassing',
 'skillKeeper',
 'skillDefending',
 'skillPlaymaking',
 'skillScoring',
 'skillStamina']

In [22]:
#Somando as habilidades que sobem com treino de cada atleta
df['skills_sum']= df.loc[:, skills_cols].sum(axis= 1)

In [23]:
df.corr()['skills_sum'].sort_values(ascending= False).head(10)

skills_sum         1.000000
age                0.766001
skillExperience    0.744012
skillPlaymaking    0.699980
wage               0.699732
Nota               0.690221
skillDiscipline    0.671513
skillPace          0.667513
matches            0.600233
value              0.599253
Name: skills_sum, dtype: float64

In [26]:
id_exemplo= df['ID'].values[0]
df_exemplo= df.query('ID==@id_exemplo')
df_exemplo.head()

,matchID,Numero,Posicao,Nota,Tempo,Chutes,Faltas,Ofens,Defens,yellowCards,...,skillTeamwork,skillDiscipline,skillPace,skillTechnique,skillPassing,skillKeeper,skillDefending,skillPlaymaking,skillScoring,skills_sum
0,38349892,1,GK,56,90,0,0,3,0,0,...,3,6,15,3,9,10,5,5,3,59
1,38352559,1,GK,54,90,0,0,12,0,0,...,3,6,15,3,9,10,5,5,3,59
2,38353921,1,GK,54,90,0,0,13,0,0,...,3,6,15,3,9,10,5,5,3,59
3,38354731,1,GK,55,90,0,0,9,0,0,...,3,6,15,3,9,10,5,5,3,59
4,38354733,1,GK,55,90,0,0,9,0,0,...,3,6,15,3,9,10,5,5,3,59

In [35]:
X= df_exemplo.sort_values('week_number', ascending= True)

In [36]:
X

,matchID,Numero,Posicao,Nota,Tempo,Chutes,Faltas,Ofens,Defens,yellowCards,...,skillTeamwork,skillDiscipline,skillPace,skillTechnique,skillPassing,skillKeeper,skillDefending,skillPlaymaking,skillScoring,skills_sum
0,38349892,1,GK,56,90,0,0,3,0,0,...,3,6,15,3,9,10,5,5,3,59
1,38352559,1,GK,54,90,0,0,12,0,0,...,3,6,15,3,9,10,5,5,3,59
2,38353921,1,GK,54,90,0,0,13,0,0,...,3,6,15,3,9,10,5,5,3,59
3,38354731,1,GK,55,90,0,0,9,0,0,...,3,6,15,3,9,10,5,5,3,59
4,38354733,1,GK,55,90,0,0,9,0,0,...,3,6,15,3,9,10,5,5,3,59
5,38354732,1,GK,56,90,0,0,11,0,0,...,3,6,15,3,9,10,5,5,3,59
114,38560300,1,GK,55,90,0,0,3,0,0,...,4,7,15,3,9,10,5,5,3,59
113,38560299,1,GK,56,90,0,0,10,0,0,...,4,7,15,3,9,10,5,5,3,59
112,38560308,1,GK,55,90,0,0,6,0,0,...,4,7,15,3,9,10,5,5,3,59
111,38553221,1,GK,57,90,0,0,4,0,0,...,4,7,15,3,9,10,5,5,3,59
110,38366220,1,GK,56,90,0,0,5,0,0,...,4,7,15,3,9,10,5,5,3,59
153,38426326,1,GK,57,90,0,0,3,0,0,...,5,8,15,3,9,10,5,5,3,59
154,38561094,1,GK,57,90,0,0,3,0,0,...,5,8,15,3,9,10,5,5,3,59
155,38561084,1,GK,55,90,0,0,6,0,0,...,5,8,15,3,9,10,5,5,3,59
156,38561082,1,GK,55,90,0,0,7,0,0,...,5,8,15,3,9,10,5,5,3,59
157,38561083,1,GK,50,90,0,0,11,0,0,...,5,8,15,3,9,10,5,5,3,59
229,38571853,1,GK,56,90,0,0,7,0,0,...,6,8,15,3,9,10,5,5,3,59
228,38571589,1,GK,27,90,0,0,1,0,0,...,6,8,15,3,9,10,5,5,3,59
230,38571985,1,GK,57,90,0,0,5,0,0,...,6,8,15,3,9,10,5,5,3,59
226,38567915,1,GK,54,90,0,0,14,0,0,...,6,8,15,3,9,10,5,5,3,59
225,38426334,1,GK,56,90,0,0,4,0,0,...,6,8,15,3,9,10,5,5,3,59
227,38568079,1,GK,55,90,0,0,11,0,0,...,6,8,15,3,9,10,5,5,3,59
312,38426342,1,GK,57,90,0,0,2,0,0,...,6,8,15,3,9,10,5,5,3,59
313,38571984,1,GK,57,90,0,0,5,0,0,...,6,8,15,3,9,10,5,5,3,59
314,38571986,1,GK,56,90,0,0,3,0,0,...,6,8,15,3,9,10,5,5,3,59
315,38574390,1,GK,56,90,0,0,10,0,0,...,6,8,15,3,9,10,5,5,3,59
316,38578336,1,GK,58,90,0,0,2,0,0,...,6,8,15,3,9,10,5,5,3,59
392,38580201,1,GK,56,90,0,0,7,0,0,...,7,9,15,3,9,10,5,5,3,58
393,38582329,1,GK,57,90,0,0,7,0,0,...,7,9,15,3,9,10,5,5,3,58
390,38426354,1,GK,27,90,0,0,0,0,0,...,7,9,15,3,9,10,5,5,3,58
391,38580208,1,GK,56,90,0,0,4,0,0,...,7,9,15,3,9,10,5,5,3,58
455,38580216,1,GK,57,90,0,0,3,0,0,...,7,9,15,3,9,10,5,5,3,59
456,38426360,1,GK,58,90,0,0,0,0,0,...,7,9,15,3,9,10,5,5,3,59
457,38584048,1,GK,55,90,0,0,8,0,0,...,7,9,15,3,9,10,5,5,3,59
458,38584202,1,GK,55,90,0,0,10,0,0,...,7,9,15,3,9,10,5,5,3,59
459,38584055,1,GK,56,90,0,0,6,0,0,...,7,9,15,3,9,10,5,5,3,59
460,38584432,1,GK,56,90,0,0,4,0,0,...,7,9,15,3,9,10,5,5,3,59
461,38584433,1,GK,56,90,0,0,10,0,0,...,7,9,15,3,9,10,5,5,3,59
553,38426366,1,GK,26,90,0,0,0,0,0,...,7,9,15,3,9,10,5,5,3,59
554,38589074,1,GK,57,90,0,0,1,0,0,...,7,9,15,3,9,10,5,5,3,59
575,38426372,1,GK,57,90,0,0,1,0,0,...,7,9,15,3,9,10,5,5,3,59
598,38426373,1,GK,56,90,0,0,1,0,0,...,7,9,15,3,9,10,5,5,3,58
599,38601463,1,GK,54,90,0,0,4,0,0,...,7,9,15,3,9,10,5,5,3,58

Proximo passo: A) Simular a criação de aumentou ou não das habilidades do jogador pra cada linha e depois fazer isso para cada jogador;

B) Juntar dataframes de cada jogador em um só.